<%- include('../header.html')%>
<link href="../stylesheets/font-awesome.min.css" rel="stylesheet"/>
<link href="../template/assets/glyphicons/css/glyphicons.css" rel="stylesheet"/>
<link href="../stylesheets/summernote.css" rel="stylesheet"/>
<link href="../stylesheets/select2.css" rel="stylesheet"/>

<style>
    .ruleInput {
        padding: 0 !important;
        width: 80px;
        border: 0 !important;
    }

    .colorInput {
        margin-left: 20px;
    }

    .img_thumbnailDiv {
        display: inline-block;
    }

    .img_thumbnail {
        width: 150px;
        padding: 5px;
        border: 1px solid #e5e5e5
    }

    #inputFile_groupImg {
        line-height: 25px;
        opacity: 0;
        margin-left: -160px;
        cursor: pointer;
    }

    .deleteThumb {
        position: relative;
        left: 0px;
        top: -70px;
        padding: 0px 3px;
    }

    #detailEditor_edit .btn-group {
        margin: 5px 5px 5px 0 !important;
    }

    .checkbox>input[type="checkbox"] {
        margin-left: 0;
    }

    .radio>input[type="radio"]{
        margin-left: 0;
    }

    .bordered{
        border: solid #ff0000 3px;
    }

    .btnAddConfig{
        padding: 0 5px;
    }
    .downloadFile {
        position: relative;
        left: -21px;
        top: -70px;
        padding: 0px 3px;
    }
    .img_thumbnailDiv {
        display: inline-block;
    }
    .img_thumbnail {
        width: 150px;
        padding: 5px;
        border: 1px solid #e5e5e5
    }
    .portlet-title {
        border: 0 !important;
    }
</style>
<div class="page-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a id="mainModule" href="/homepage">商品管理</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">商品添加/编辑</a></li>
                </ul>
            </div>
        </div>
            <div id="dashboard">
                <div id="detail_container" class="row-fluid">
                    <div class="span12">
                        <div class="portlet box blue tabbable">
                            <div class="portlet-title">
                                <h4 class="span10">
                                    <i class="icon-reorder"></i>
                                    <span class="hidden-480">商品信息</span>
                                </h4>
                            </div>
                            <div class="portlet-body form">
                                <div class="tabbable portlet-tabs">
                                    <div class="tab-content" style="margin: 0px !important;">
                                        <div class="tab-pane active" id="portlet_tab1">
                                            <div action="#" class="form-horizontal" style="margin-top: 10px !important;">
                                                <div class="control-group">
                                                    <label class="control-label" style="color: #ff0000">商品信息：</label>

                                                    <div id="flowStateTip" class="controls"
                                                         style="padding-top: 7px;font-size: 14px;color: #ff0000">

                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">商品分类</label>

                                                    <div class="controls">
                                                        <input id="categoryInput" type="text" value="<%=result[0].CategoryTitle%>"
                                                               class="infoInput m-wrap large" disabled="disabled"/>
                                                    </div>
                                                </div>


                                                <div class="control-group">
                                                    <label class="control-label">商品名称</label>

                                                    <div class="controls">
                                                        <input id="goodsGroupTitleInput" type="text" value="<%=result[0].GoodsTitle%>"
                                                               class="infoInput m-wrap large" disabled="disabled"/>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">商品价格</label>

                                                    <div class="controls">
                                                        <input id="priceInput" type="text" value="<%=result[0].GoodsPrice%>"
                                                               class="infoInput m-wrap large" disabled="disabled"/>
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label">是否推荐</label>
                                                    <div class="controls" id="targetPerson" curid="0" style="margin-left: 200px;">
                                                        <label class="radio"><input type="radio" name="optionsRadios_sex" value="0" <%=result[0].isRec==0?'checked':''%>/>不推荐</label>&nbsp;&nbsp;
                                                        <label class="radio"><input type="radio" name="optionsRadios_sex" value="1" <%=result[0].isRec==1?'checked':''%>/>半屏推荐</label>&nbsp;&nbsp;
                                                        <label class="radio"><input type="radio" name="optionsRadios_sex" value="2" <%=result[0].isRec==2?'checked':''%>/>全屏推荐</label>
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label" style="color: #ff0000">商品图片：</label>
                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label"> </label>

                                                    <div class="controls">
                                                        <div class="img_thumbnailDiv">
                                                            <%for(var i=0;i<imgsPath.length;i++){%>
                                                            <img src="<%=imgsPath[i].GoodsImgPath%>" class="img_thumbnail" style="width: 150px;height:150px;display: inline-block">
                                                            <a href="<%=imgsPath[i].GoodsImgPath%>" class="btn icn-only downloadFile"><i class="icon-arrow-down"></i></a>
                                                            <%}%>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label">商品详情</label>

                                                    <div class="controls" id="detailEditor_edit">
                                                        <div id="summernote_edit">
                                                            <%-result[0].goodsDesc%>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-actions">
                                                    <button onclick="cancel()" type="button" class="btn blue"> 取消</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
    </div>
</div>
</div>
<%- include('../footer.html')%>
<script type="text/javascript" src="../javascripts/utils/summernote.js"></script>
<script type="text/javascript" src="../javascripts/utils/summernote-zh-CN.js"></script
<script type="text/javascript" src="../javascripts/utils/common.js"></script>
<script type="text/javascript" src="../javascripts/utils/layer/layer.js"></script>

<script type="text/javascript">
    $('#summernote_edit').summernote({
        height: 500,
        lang: 'zh-CN'
    });
    function cancel(){
        window.location.href='/goods/list';
    }
</script>

