<%- include('../header.html')%>
<link href="../stylesheets/font-awesome.min.css" rel="stylesheet"/>
<link href="../template/assets/glyphicons/css/glyphicons.css" rel="stylesheet"/>
<link href="../stylesheets/summernote.css" rel="stylesheet"/>
<link href="../stylesheets/select2.css" rel="stylesheet"/>
<style>
    .ruleInput {
        padding: 0 !important;
        width: 80px;
        border: 0 !important;
    }

    .colorInput {
        margin-left: 20px;
    }

    .btn.mini {
        margin-left: 5px;
    }

    .modal, .modal-lg {
        width: 900px;
        /*overflow: auto;*/
        max-height: 600px;
    }

    #infoContainer {
        padding: 10px;
    }

    .portlet-title {
        border: 0 !important;
    }

    .img_thumbnailDiv {
        display: inline-block;
    }

    .img_thumbnail {
        width: 150px;
        padding: 5px;
        border: 1px solid #e5e5e5
    }

    .downloadFile {
        position: relative;
        left: -21px;
        top: -70px;
        padding: 0px 3px;
    }

    #inputFile_excel {
        width: 120px;
        line-height: 25px;
        opacity: 0;
        margin-left: -80px;
        cursor: pointer;
    }

    #inputFile_groupImg {
        line-height: 25px;
        opacity: 0;
        margin-left: -160px;
        cursor: pointer;
    }

    .deleteThumb {
        position: relative;
        left: -21px;
        top: -70px;
        padding: 0px 3px;
    }

    #detailEditor_edit .btn-group {
        margin: 5px 5px 5px 0 !important;
    }

    .checkbox > input[type="checkbox"] {
        margin-left: 0;
    }

    .radio > input[type="radio"] {
        margin-left: 0;
    }

    .bordered {
        border: solid #ff0000 3px;
    }

    .btnAddConfig {
        padding: 0 5px;
    }
</style>
<div class="page-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">

                <h3 class="page-title">
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a id="mainModule" href="javascript:void(0);">商品管理</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="javascript:void(0)">商品列表</a></li>
                </ul>
            </div>
        </div>
        <div id="dashboard">
            <div id="list_container" class="row-fluid">
                <div class="span12">
                    <div class="portlet box blue tabbable">
                        <div class="portlet-title">
                            <div class="portlet-title">
                                <h4 class="span2">
                                    <i class="icon-reorder"></i>
                                    <span class="hidden-480">商品列表</span>
                                    &nbsp;
                                </h4>
                                <select id="flowState_query" class="span2" style="float: left">
                                    <option value="-1">全部</option>
                                    <option value="0">未上架</option>
                                    <option value="1">已上架</option>

                                </select>

                                <div style="display: inline-block;width: 21%" class="span3">
                                    <input id="queryKeyStr" placeholder="请输入商品名称" style="width: 120px">
                                    <button onclick="goods.list.goodsSearch()" class="btn btn-primary" style="padding: 5px">查询</button>
                                </div>
                                <div style="display: inline-block;width: 10%" class="span2">
                                    <a href="/goods/add" class="btn red start"
                                       style="color: #ffffff;text-decoration: none;padding: 5px">
                                        <i class="icon-plus icon-white"></i>
                                        <span>添加商品</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body" style="margin-top: -5px;">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <tbody id="listTBody">

                                </tbody>
                            </table>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="dataTables_paginate paging_bootstrap pagination">
                                        <ul>
                                            <li class="pre"><a id="btnFirstPage" href="javascript:void(0)">首页</a></li>
                                            <li class="prev"><a id="btnPrePage" href="javascript:void(0)">← 上一页</a></li>
                                            <li>
                                                <select id="pagingSelect">

                                                </select>
                                            </li>
                                            <li class="next" id="btnNextPage"><a href="javascript:void(0)">下一页 → </a></li>
                                            <li class="disabled"><a href="javascript:void(0)">共 <span id="totalPageNum" style="color: #005580">1</span> 页</a></li>
                                            <li class="next"><a id="btnLastPage" href="javascript:void(0)">末页</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../footer.html')%>
<script type="text/javascript" src="../javascripts/utils/select2.js"></script>
<script type="text/javascript" src="../javascripts/utils/common.js"></script>
<script type="text/javascript" src="../javascripts/utils/ejs.js"></script>
<script type="text/javascript" src="../javascripts/utils/layer/layer.js"></script>
<script type="text/javascript" src="../javascripts/config.js"></script>
<script type="text/javascript" src="../javascripts/utils/dateFormater.js"></script>
<script type="text/javascript" src="../javascripts/utils/pagingControl.js"></script>
<script type="text/javascript" src="../javascripts/utils/jsonTreeParser.js"></script>
<script type="text/javascript" src="../javascripts/utils/summernote.js"></script>
<script type="text/javascript" src="../javascripts/utils/summernote-zh-CN.js"></script>
<script type="text/javascript" src="../javascripts/goods/list.js"></script>


<script type="text/html" id="goods_list_table">
    [% for(var i=0;i<list.length;i++){%]
    [%if((i+1)%4==1){%]
    <div class="row-fluid">
        [%}%]
        <div class="span3">
            <div class="item" style="border: 1px solid #cccccc;min-height: 300px" data-id="[%=list[i].Id%]">
                <a class="fancybox-button  btnDetail" data-id="[%=list[i].Id%]" href="/goods/detail?goodsGroupId=[%=list[i].Id%]">
                    <div class="zoom">
                        <img src="[%=list[i].imgPaths[0]%]" alt="bbxvip"/>
                    </div>
                </a>

                <div style="display: inline-block">
                    <span class="icon"><i class="icon-paper-clip">[%=list[i].goodsGroupTitle%]</i></span>

                    <br/>
                    <span class="icon"><i class="icon-link">
                        [%if(list[i].addedState==1){%]
                        <span style="color: red">已上架</span>
                        [%}else if(list[i].addedState==2){%]
                        <span style="color: #ad6704">已下架</span>
                        [%}else{%]
                        <span style="color: green">未上架</span>
                        [%}%]
                    </i></span>

                    <br/>
                    <a href="/goods/edit?goodsGroupId=[%=list[i].Id%]" data-id="[%=list[i].Id%]" class="btn mini purple btnEditGroup"><i class="icon-edit"></i>
                    编辑</a>
                    <a style="cursor: pointer" onclick="goods.list.deleteGoodGroup('[%=list[i].Id%]')"
                       class="btn mini black btnEditGroup"><i class="icon-trash"></i> 删除</a>
                    <a style="cursor: pointer" onclick="goods.list.kd_category('[%=list[i].Id%]')"
                       class="btn mini red btnEditGroup"><i class="icon-edit"></i> 分类</a>
                </div>
            </div>
        </div>
        [%if((i+1)%4==0){%]
    </div>
    [%}%]
    [% }%]
</script>

<style type="text/css">
#temp{display:none;}
#temp .container{margin-left:20px; margin-top: 20px; width: 100%;}
#temp .container .item{
    width: auto; height: 24px; line-height: 24px; background-color: red; color: #fff;
    float: left; margin: 5px 5px;  border-radius: 3px !important;
}
#temp .container .item .left{
    float: left; width: auto; padding:0 5px; color: #fff; 
    border-right: 1px solid #fff;
}
#temp .container .item .right{
    float: left; width: auto; padding:0 5px; color:#fff; cursor: pointer;
}
#temp .container .item .right:hover{
    color:#333;
}
#temp1{display: none;}
</style>

<div id="temp">
    <div class="container">
        <div class="item">
            <div class="left">123</div>
            <div class="right">X</div>
        </div>
    </div>
</div>


<div id="temp1">
    <table style="margin: 20px;">
        <tr>
            <td height="40" valign="middle">一级分类</td>
            <td height="40" valign="middle">
                <select id="level1" onchange="change_level2()">
                    <option value="1">首页分类</option>
                    <option value="2">按症状找药分类</option>
                    <option value="3">按科室找药分类</option>
                    <option value="4">分类页分类</option>
                </select>
            </td>
        </tr>
        <tr>
            <td height="40" valign="middle">二级分类</td>
            <td height="40" valign="middle">
                <select id="level2" onchange="change_level3()">
                    
                </select>
            </td>
        </tr>
        <tr>
            <td height="40" valign="middle">三级分类</td>
            <td height="40" valign="middle">
                <select id="level3">
                    
                </select>
            </td>
        </tr>
    </table>
</div>


<script type="text/javascript">
//初始化二级分类和三级分类
window.onload = function(){
    get_level2(1);
}

function change_level2(){
    var type = $("#level1").val();
    $("#level2").empty();
    $("#level3").empty();
    get_level2(type);
}

function change_level3(){
    var type = $("#level2").val();
    $("#level3").empty();
    get_level3(type);
}

function get_level2(type){
    $.ajax({
        url: AppConfig.URL.GOODS_CATEGORY_TYPE,
        type: 'POST',
        data:{type:type},
        success: function (res) {
            if (200 === res.code) {
                var data = res.data;
                $("#level2").empty();
                if(data.length>0){
                    get_level3(data[0].Id);
                }
                for(var i=0; i<data.length; i++){
                    var option = $("<option value='"+data[i].Id+"'>"+data[i].CategoryTitle+"</option>");
                    $("#level2").append(option);
                }
            }
        },
        error: function (err) {
            layer.alert("查询商品分类失败，请刷新页面重试。");
        }
    });
}


function get_level3(type){
    $.ajax({
        url: AppConfig.URL.GOODS_CATEGORY_TYPE3,
        type: 'POST',
        data:{type:type},
        success: function (res) {
            if (200 === res.code) {
                var data = res.data;
                $("#level3").empty();
                for(var i=0; i<data.length; i++){
                    var option = $("<option value='"+data[i].id+"'>"+data[i].name+"</option>");
                    $("#level3").append(option);
                }
            }
        },
        error: function (err) {
            layer.alert("查询商品分类失败，请刷新页面重试。");
        }
    });
}

function delete_category(Id){
    $.ajax({
        url: '/goods/delete_goods2category',
        type: 'POST',
        data:{Id:Id},
        success: function (res) {
            if (200 === res.code) {
                history.go(0);
            }
        },
        error: function (err) {
            layer.alert("删除商品分类失败，请刷新页面重试。");
        }
    });
}

</script>
